<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div id="mainDiv">
        <div id="divLogin" [class.rosso]="rosso" >
            <h1>Accedi</h1>
            <form>
                <input type="text" id="username" placeholder="Username" name="username" required [(ngModel)]="username">
                <input type="password" id="password" placeholder="Password" name="password" required [(ngModel)]="password">
                <button type="submit" (click)="btnLogin()">Accedi</button>
            </form>
        </div>
        @if(divConfermaPassword == true){
            <div id="divPrimoAccesso" [class.rosso]="rosso" >
                <h1>Crea una password</h1>
                <form>
                    <input type="password" id="nuovaPassword" placeholder="Password" name="password" required [(ngModel)]="nuovaPassword" (input)="controlloPassword()">
                    <input type="password" id="confermaPassword" placeholder="Conferma password" name="confermaPassword" required [(ngModel)]="confermaPassword">
                    <button type="submit" (click)="btnAccedi()">Accedi</button>
                </form>
            </div>
            @if(passwordOnChange == true){
                <div id="divSicurezzaPassword">
                    <p class="pPassword" [class.rosso]="nCaratteri" [class.verde]="!nCaratteri">La password deve contenere almeno 8 caratteri</p>
                    <p class="pPassword" [class.rosso]="maiuscolo" [class.verde]="!maiuscolo">La password deve contenere almeno un carattere maiuscolo</p>
                    <p class="pPassword" [class.rosso]="minuscolo" [class.verde]="!minuscolo">La password deve contenere almeno un carattere minuscolo</p>
                    <p class="pPassword" [class.rosso]="numero" [class.verde]="!numero">La password deve contenere almeno un numero</p>
                    <p class="pPassword" [class.rosso]="speciale" [class.verde]="!speciale">La password deve contenere almeno un carattere speciale</p>
                </div>
            }
            
        }
        

    </div>
    
</body>
</html>
