@font-face {
  font-family: exo;
  src: url("font/Exo-Regular.otf");
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "exo";
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}
#mainDiv{
    justify-items: center;
    
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}
#divMenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20vw;
    height: 100vh;
    background-color: rgb(180, 173, 173);
    position: absolute;
    right: 0;
    opacity: 75%;
    border-radius: 3.5vh 0vh 0vh 3.5vh;
    /* visibility: hidden; */
    padding-block: 10vh;
    
}

#divLogin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    background-color: #f4f4f4;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 10px 0px black;
    background-color: rgb(180, 173, 173);
    transition: background-color 0.5s ease;
}

#divPrimoAccesso{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    background-color: #ff0000;
    border-radius: 3.5vh;
    box-shadow: 0px 0px 10px 0px black;
    background-color: rgb(180, 173, 173);
    transition: background-color 0.5s ease;
}

#divSicurezzaPassword{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  height: 20vh;
  background-color: #f4f4f4;
  border-radius: 3.5vh;
  box-shadow: 0px 0px 10px 0px black;
  background-color: rgb(180, 173, 173);
  transition: background-color 0.5s ease;
  grid-area: 1/1/2/2;
  transform: translateY(calc(50% + 30vh)) translateX(calc(50% + 12.5vw));
}

#divLogin, #divPrimoAccesso{
  grid-area: 1/1/2/2;
  transform: translateY(calc(50% + 10vh));
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#mainDiv, #divMenu{
    grid-area: 1/1/2/2;
}

#divMenu h1{
  width: 100%;
  height: 5vh;
  font-size: 27px;
  text-align: center;
}

input{
    width: 15vw;
    height: 5vh;
    border-radius: 3.5vh;
    border: none;
    padding-left: 10px;
    font-size: 20px;

}

button{
    width: 15vw;
    height: 5vh;
    border-radius: 3.5vh;
    border: none;
    background-color: #222222;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

#divScelta{
  display: flex;
  align-items: center;
  flex-direction: column;
   font-size: 30px;
   width: auto;
   gap: 60px;
   margin-block: auto;
}
p{
  width: 110px;
  display: grid;
  position: relative;
}

p::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:  black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#divLogin.rosso{
  background-color: red;
}



