/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: exo;
  src: url("../src/font/Exo-Regular.otf");
}
input{
  font-family: inherit;
}
button{
  font-family: inherit;
}
#mappa > div.map-container > div > div.gm-style > div:nth-child(1){
  cursor: inherit !important;
}
