<div id="mainDiv">
    <div id="divMappa" [class.cambiaCursor]="btnAggiungiPerizia">
        <google-map #map id="mappa" height="400px" width="72vw" height="90vh" [center]="center" [zoom]="zoom"
            (mapClick)="btnAggiungiPerizia && aggiungiPerizia($event)">
            <map-polyline [path]="vertices"></map-polyline>

            @for (marker of markers; track $index) {
            <map-marker [position]="marker.position" [title]="marker.title"
                (mapClick)="infoMarker($event, marker)"></map-marker>
            }
            <div id="divNuovaPerizia">
                <button id="btnAggiungiPerizia" (click)="btnAggiungiPerizia = !btnAggiungiPerizia">Aggiungi Perizia</button>
                @if(pulisciPercorso){
                    <button (click)="pulisciPercorsoFunction()">Pulisci percorso</button>
                }
                
                <div id="tempoStimato">
                    {{divTempoStimato}}
                </div>
            </div>
        </google-map>
    </div>

    @if(visualizzaDivInfoMarker){
    <div id="divInfoMarker" [class.togliOpacity]="togliOpacity">
        <span>
            <div [class.chiudiInfoMarker]="chiudiInfoMarker">
                <span class="material-symbols-outlined" id="xClose" (click)="chiudiDivInfoMarker()">
                    close
                </span>
                <h2>{{titlePeriziaVisualizzata}}</h2>
                <div id="divInfo">
                    <h3>Descrizione</h3>
                    <div class="divPerizia">{{descPeriziaVisualizzata}}</div>
                    <h3>Data e Ora</h3>
                    <div class="divPerizia">{{dataOraPeriziaVisualizzata}}</div>
                    <h3>Latitudine</h3>
                    <div class="divPerizia">{{latPeriziaVisualizzata}}</div>
                    <h3>Longitudine</h3>
                    <div class="divPerizia">{{lngPeriziaVisualizzata}}</div>
                    <h3>Codice operatore</h3>
                    <div class="divPerizia">{{codOpPeriziaVisualizzata}}</div>
                    <span class="material-symbols-outlined" id="deleteUser" (click)="visualizzaImmagini(idPeriziaVisualizzata)">photo_camera</span>
                </div>
                <button (click)="btnPercorso()">Visualizza percorso</button>
            </div>
        </span>
    </div>
    }

    @if(visualizzaDivInfoPerizia){
    <div id="divInfoPerizia">
        <span>
            <div>
                <span class="material-symbols-outlined" id="xClose" (click)="chiudiDivInfoPerizia()">
                    close
                </span>
                <h1>Aggiungi Info Perizia</h1>
                <label for="datetimepicker">Titolo</label>
                <input type="text" name="" id="txtTitoloPerizia" [(ngModel)]="titoloPerizia">
                <label for="datetimepicker">Data e Ora</label>
                <input type="datetime-local" id="datetimepicker" name="datetimepicker" [(ngModel)]="dataOraPerizia">

                <label for="descPerizia">Descrizione</label>
                <textarea id="descPerizia" name="descPerizia" rows="4" cols="50" [(ngModel)]="descPerizia"></textarea>      

                <label for="txtIdOperatore">Id Operatore</label>
                <input type="text" id="txtIdOperatore" name="txtIdOperatore" [(ngModel)]="idOperatorePerizia">

                <label for="txtFile" class="fileUpload">Aggiungi Immagini</label>
                <input type="file" id="txtFile" [(ngModel)]="txtFile" (change)="aggiungiImmaginiCloudinary($event)" multiple>

                <button id="btnAggiungiPerizia" (click)="inviaInfo()" >Aggiungi perizia</button>
            </div>
        </span>
    </div>

    }

    <div id="divMenu">
        <h1>Dashboard Admin</h1>
        <div id="divScelta">
            <p (click)="apriListaUtenti()">Lista utenti</p>
            <p (click)="Apri('aggiungiUtente')">Aggiungi Utente</p>
            <p (click)="apriCercaUtente()">Cerca Utente</p>
            <p (click)="apriListaPerizie()">Lista Perizie</p>
        </div>
        <span class="material-symbols-outlined" id="iconLogout" (click)="logout()">
            logout
        </span>
    </div>


    <div id="divAggiungiUtente" [class.apriDivAggiungiUtente]="animazioni.apri.aggiungiUtente"
        [class.chiudiDivAggiungiUtente]="animazioni.chiudi.aggiungiUtente">

        <div id="divIntermedio">
            <span class="material-symbols-outlined" id="xClose" (click)="ChiudiTutto()">
                close
            </span>
            <form>
                <input type="text" placeholder="Nome" name="nome" [(ngModel)]="nome">
                <input type="text" placeholder="Cognome" name="cognome" [(ngModel)]="cognome">
                <input type="text" placeholder="Nome Utente" name="username" [(ngModel)]="username">
                <input type="text" placeholder="Email" name="email" [(ngModel)]="email">
                <input type="text" placeholder="Sesso" name="sesso" [(ngModel)]="sesso">
                <button (click)="aggiungiUtente()">Aggiungi</button>
                <p id="lblAggiungiUtente" [class.coloreAggiuntaUtente]="coloreUtenteAggiunto"
                    [class.coloreAggiuntaUtente]="coloreUtenteNONAggiunto">{{lblAggiungiUtente}}</p>
            </form>
        </div>

    </div>

    <div id="divListaUtenti" [class.apriDivAggiungiUtente]="animazioni.apri.listaUtente"
        [class.chiudiDivAggiungiUtente]="animazioni.chiudi.listaUtente">

        <div id="divIntermedio">
            <span class="material-symbols-outlined" id="xClose" (click)="ChiudiTutto()">
                close
            </span>
            <table>
                <tr>
                    <th>Nome utente</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Sesso</th>
                    <th>Email</th>
                    <th>Elimina</th>
                    <th>Modifica</th>
                </tr>
                @for(utente of listaUtenti; track $index)
                {
                @if( utente.username != "" && utente.username != "admin")
                {
                <tr>
                    <td>{{utente.username}}</td>
                    <td>{{utente.nome}}</td>
                    <td>{{utente.cognome}}</td>
                    <td>{{utente.sesso}}</td>
                    <td>{{utente.email}}</td>
                    <td><span class="material-symbols-outlined" id="deleteUser"
                            (click)="eliminaUtente(utente._id)">delete</span></td>
                    <td>
                        <span class="material-symbols-outlined" id="editUser" (click)="editUtente(utente)">edit</span>
                    </td>
                </tr>
                }
                }
            </table>
        </div>

    </div>

    @if(edit){
        <div id="divModificaUtente" [class.togliOpacity]="togliOpacity">
            <span>
                <div [class.chiudiInfoMarker]="chiudiInfoMarker">
                    <span class="material-symbols-outlined" id="xClose" (click)="chiudiEditUtente()">
                        close
                    </span>
                    <div id="divIntermedio">
                        <form>
                            <input type="text" placeholder="Nome" name="nome" [(ngModel)]="nuovoNome">
                            <input type="text" placeholder="Cognome" name="cognome" [(ngModel)]="nuovoCognome">
                            <input type="text" placeholder="Nome Utente" name="username" [(ngModel)]="nuovoUsername">
                            <input type="text" placeholder="Email" name="email" [(ngModel)]="nuovaEmail">
                            <input type="text" placeholder="Sesso" name="sesso" [(ngModel)]="nuovoSesso">
                            <button (click)="applicaModificheUtente()">Modifica</button>
                        </form>
                    </div>
                    
                </div>
            </span>
        </div>
    }

   

    <div id="divListaPerizie" [class.apriDivAggiungiUtente]="animazioni.apri.listaPerizie"
        [class.chiudiDivAggiungiUtente]="animazioni.chiudi.listaPerizie">

        <div id="divIntermedio">
            <span class="material-symbols-outlined" id="xClose" (click)="ChiudiTutto()">
                close
            </span>
            <table>
                <tr>
                    <th>ID Operatore</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Titolo</th>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Indirizzo</th>
                    <th>Descrizione</th>
                    <td>Modifica</td>
                    <th>Foto</th>
                    <th>Elimina</th>
                </tr>
                @for(perizia of listaPerizie; track $index)
                {
                <tr>
                    <td id="tdCodOperatore">{{perizia.codiceOperatore}}</td>

                    @for (utenti of listaUtenti; track $index) {
                        @if(utenti.id == perizia.codiceOperatore){
                        <td>{{utenti.nome}}</td>
                        <td>{{utenti.cognome}}</td>
                        }

                    }
                    <td>{{perizia.Title}}</td>
                    <td>{{stampaDataOra(perizia.dataOra)[0]}}</td>
                    <td>{{stampaDataOra(perizia.dataOra)[1]}}</td>
                    <td><!--   {{getindirizzo(perizia.lat, perizia.lng)}} --></td>
                    <td>{{perizia.descrizione}}</td>
                    <td><span class="material-symbols-outlined" id="editUser" (click)="editPerizia(perizia)">edit</span></td>
                    <td><span class="material-symbols-outlined" id="deleteUser" (click)="visualizzaImmagini(perizia.idPerizia)">photo_camera</span></td>
                    <td><span class="material-symbols-outlined" id="deleteUser" (click)="eliminaPerizia(perizia.Title, perizia._id)">delete</span></td>
                </tr>
                }
            </table>
        </div>

    </div>

    @if(editP){
        <div id="divEditPerizia" [class.togliOpacity]="togliOpacity">
            <span>
                <div [class.chiudiInfoMarker]="chiudiInfoMarker">
                    <span class="material-symbols-outlined" id="xClose" (click)="chiudiEditPerizia()">
                        close
                    </span>
                    <h1>Modifica Perizia</h1>
                    <h3>Titolo</h3>
                    <input type="text" [(ngModel)]="titoloPeriziaModificata">
                    <h3>Descrizione</h3>
                    <textarea name="" id="" cols="15" rows="5" [(ngModel)]="descPeriziaModificata"></textarea>
                    <button (click)="modificaPerizia()">Modifica</button>
                </div>
            </span>
        </div>
    }

    @if(visualizzaImmaginiPerizie){
        <div id="divIMGPerizia" [class.togliOpacity]="togliOpacity">
            <span>
                <div [class.chiudiInfoMarker]="chiudiInfoMarker">
                    <span class="material-symbols-outlined" id="xClose" (click)="chiudiImmaginiPerizie()">
                        close
                    </span>
                    <h1>Immagini Perizia</h1>
                    <div id="contenitoreImmagini">
                        @for (immagine of fotoPerizaCorrente; track $index) {
                            <div class="divImmagini">
                                <img src="{{immagine}}" id="imgPerizia">
                            </div>
                        }
                    </div>
                    
                </div>
            </span>
        </div>
    }

    <div id="divCercaUtente" [class.apriDivAggiungiUtente]="animazioni.apri.cercaUtente"
        [class.chiudiDivAggiungiUtente]="animazioni.chiudi.cercaUtente">
        <div id="divIntermedio">
            <span class="material-symbols-outlined" id="xClose" (click)="ChiudiTutto()">
                close
            </span>
            <span id="spanHeader">
                <input type="search" placeholder="Inserisci il nome utente..." [(ngModel)]="userRicerca">
                <button id="btnCercaUtente" (click)="cercaUtente()">Cerca</button>
                
                @if(!tableNascosta){
                <button id="btnPulisci" (click)="pulisciRicerca()">Pulisci ricerca</button>
                }

            </span>
            @if(erroreRicercaUtente){
                <div id="divErroreRicercaUtente">
                    {{divErroreRicerca}}
                </div>
            }
            <table class="tableNascosta">
                
                @if(!tableNascosta){
                    <tr>
                        <th>Nome utente</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Sesso</th>
                        <th>Email</th>
                        <th>Elimina</th>
                        <th>Modifica</th>
                    </tr>
                <tr>
                    <td>{{utenteCercato.username}}</td>
                    <td>{{utenteCercato.nome}}</td>
                    <td>{{utenteCercato.cognome}}</td>
                    <td>{{utenteCercato.sesso}}</td>
                    <td>{{utenteCercato.email}}</td>
                    <td><span class="material-symbols-outlined" id="deleteUser"
                            (click)="eliminaUtente(utenteCercato._id)">delete</span></td>
                    <td>
                        <span class="material-symbols-outlined" id="editUser" (click)="editUtente(utenteCercato)">edit</span>
                    </td>
                </tr>
                }
            </table>
            @if(!nascondiPerizie){
                <h1 id="perizieh1">Perizie</h1>
            <table>
                <tr>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Indirizzo</th>
                    <th>Descrizione</th>
                    <th></th>
                </tr>
                @for(perizia of perizieUtenteCercato; track $index)
                {
                <tr>
                    <td>{{stampaDataOra(perizia.dataOra)[0]}}</td>
                    <td>{{stampaDataOra(perizia.dataOra)[1]}}</td>
                    <td> <!--   {{getindirizzo(perizia.lat, perizia.lng)}} --> </td> 
                    <td>{{perizia.descrizione}}</td>
                    <td><span class="material-symbols-outlined" id="deleteUser" (click)="visualizzaImmagini(perizia.idPerizia)">photo_camera</span></td>
                </tr>
                }
            </table>
            }
            
        </div>
    </div>



</div>