
<div id="mainDiv">
    <div id="divMappa">
        <google-map height="400px" width="72vw" height="90vh" [center]="center" [zoom]="zoom">
            <map-polyline [path]="vertices"></map-polyline>

            @for (marker of markers; track $index) {
                <map-marker [position]="marker.position" [title]="marker.title" (click)="infoMarker()"></map-marker>
            }
            
        </google-map>
    </div>
    <div id="divMenu">
        <h1>Dashboard Admin</h1>
        <div id="divScelta">
            <p (click)="apriListaUtenti()">Lista utenti</p>
            <p (click)="Apri('aggiungiUtente')">Aggiungi Utente</p>
            <p>Cerca Utente</p>
            <p (click)="apriListaPerizie()">Lista Perizie</p>
        </div>
    </div>

    
        <div id="divAggiungiUtente" [class.apriDivAggiungiUtente]="animazioni.apri.aggiungiUtente" [class.chiudiDivAggiungiUtente]="animazioni.chiudi.aggiungiUtente">

            <div id="divIntermedio">
                <span class="material-symbols-outlined" id="closeDivAggiungiUtente" (click)="ChiudiTutto()">
                    close
                </span>
                <form>
                    <input type="text" placeholder="Nome" name="nome" [(ngModel)]="nome">
                    <input type="text" placeholder="Cognome" name="cognome" [(ngModel)]="cognome">
                    <input type="text" placeholder="Nome Utente" name="username" [(ngModel)]="username">
                    <input type="text" placeholder="Email" name="email" [(ngModel)]="email">
                    <input type="text" placeholder="Sesso" name="sesso" [(ngModel)]="sesso">
                    <button (click)="aggiungiUtente()">Aggiungi</button>
                    <p id="lblAggiungiUtente" [class.coloreAggiuntaUtente]="coloreUtenteAggiunto" [class.coloreAggiuntaUtente]="coloreUtenteNONAggiunto">{{lblAggiungiUtente}}</p>
                </form>
            </div>
            
        </div>

        <div id="divListaUtenti" [class.apriDivAggiungiUtente]="animazioni.apri.listaUtente" [class.chiudiDivAggiungiUtente]="animazioni.chiudi.listaUtente">

            <div id="divIntermedio">
                <span class="material-symbols-outlined" id="closeDivAggiungiUtente" (click)="ChiudiTutto()">
                    close
                </span>
                <table>
                    <tr>
                        <th>Nome utente</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Sesso</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    @for(utente of listaUtenti; track $index)
                    { 
                        @if( utente.username != "" && utente.username != "admin")
                        {
                            <tr>
                                <td>{{utente.username}}</td>
                                <td>{{utente.nome}}</td>
                                <td>{{utente.cognome}}</td>
                                <td>{{utente.sesso}}</td>
                                <td>{{utente.email}}</td>
                                <td><span class="material-symbols-outlined" id="deleteUser" (click)="eliminaUtente(utente._id)">delete</span></td>
                            </tr>
                        }
                    }
                </table>
            </div>
            
        </div>
    
    
      
</div> 